@font-face {
  font-family: 'MADE Likes Slab';
  src: url('assets/font/MADE-Likes-Slab.otf');
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f5e4d3;
  color: #282727;
  font-family: 'MADE Likes Slab';
}

html[data-design='new'] body {
  background-color: #fde4c3;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background-color: #f5e4d3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

.nd-loader {
  background-color: #fde4c3;
}

body .loader img {
  height: 16rem;
  width: 16rem;
}

/* body .loader video {
  height: 16rem;
  width: 16rem;
} */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/bg.webp');
  background-position: center top;
  background-size: 100dvh 100dvh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0px 50px;
  overflow-x: hidden;
  overflow-y: clip;
}

.nd-main {
  background-image: url('./assets/bg_tetradke2.webp');
  /* background-position: center top; */
  /* background-size: 100dvh 100dvh;
  background-size: 100% 100%; */
  /* background-size: 1920px 100%; */
  background-size: cover;
}

.subsection img,
.hero-container img {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.stories-section {
  position: relative;
  max-width: 112.25rem;
  width: 100%;
}

.nd-stories-section {
  width: 85.438rem;
}

.hero-section {
  flex-direction: column;
  justify-content: flex-start;
}

.hero-img {
  width: 31.583rem;
  height: 10.917rem;
}

html[data-design='new']:lang(en) .nd-hero-img {
  width: 28.5rem;
  height: 6.438rem;
}

.nd-hero-img {
  width: 38.688rem;
  height: 6.25rem;
}

.language-container {
  display: flex;
  justify-content: flex-end;
  height: 4.188rem;
}

.hero-container {
  display: grid;
  place-content: center;
  height: 100%;
  margin-top: 11.563rem;
  margin-bottom: 17.813rem;
}

.language-selector {
  position: relative;
  /*  width: 4.696rem;
  height: 1.688rem; */
  width: 6.813rem;
  align-self: flex-end;
  margin-right: 5rem;
  margin-bottom: 0;
  cursor: pointer;
  transition: none;
  pointer-events: auto !important;
  z-index: 2;
}

.nd-language-selector {
  margin-right: 0rem;
}

.pencil-stroke-container {
  display: none;
  position: absolute;
  width: 6.125rem;
  height: 10.188rem;
  /* bottom: 7rem;
  right: -9rem; */
  margin-top: 18rem;
  margin-left: 89rem;
}

.nd-pencil-stroke {
  width: 100%;
  height: 100%;
  background-image: url('./assets/pencil-strokes.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.plane-one-contaniner {
  display: none;
  position: absolute;
  width: 24rem;
  height: 23.096rem;
  /* bottom: -27rem;
  left: -17rem; */
  margin-left: -17rem;
  margin-top: 4.6rem;
}

.nd-plane-one {
  width: 100%;
  height: 100%;
  background-image: url('./assets/plane-one.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.razdelitel-hero-container {
  position: absolute;
  transform: scaleX(-1);
  width: 36.5rem;
  height: 29.75rem;
  left: 89rem;
  top: -4rem;
}

.razdelitel-hero-img {
  width: 100%;
  height: 100%;
  background-image: url('./assets/Klaksa1.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.german-section,
.wolves-section,
.peats-section,
.groom-section,
.kremlin-section,
.vegetable-base-section,
.brilliant-green-section {
  display: flex;
  justify-content: center;
}

.german-section {
  margin-bottom: 7.5rem;
}

.nd-german-section {
  margin-bottom: 9rem;
}

.wolves-section {
  margin-bottom: 8.375rem;
}

.peats-section {
  margin-bottom: 8.5rem;
}

.groom-section {
  margin-bottom: 5.375rem;
}

.kremlin-section {
  margin-bottom: 8.813rem;
}

.vegetable-base-section {
  margin-bottom: 7.313rem;
}

.nd-vegetable-base-section {
  margin-bottom: 9rem;
}

.subsection {
  /* border: 1px solid; */
  left: 2rem;
}

.german-subsection,
.wolves-subsection,
.peats-subsection,
.groom-subsection,
.kremlin-subsection,
.vegetable-base-subsection,
.brilliant-green-subsection {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 35rem);
  grid-template-rows: 1fr;
  max-width: 80.4rem;
  width: 100%;
}

h1 {
  font-size: 2.7em;
  color: #e25c5c;
  font-weight: 400;
}

p {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 0.625rem;
}

.ger-text,
.peat-text,
.kremlin-text,
.brillgn-text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.ger-text {
  width: 30.5rem;
}

.nd-ger-text {
  width: 26rem;
}

.wolf-text {
  width: 26.2rem;
}

.nd-wolf-text {
  width: 29rem;
}

.peat-text {
  width: 27.3rem;
}

.groom-text {
  width: 27.4rem;
  margin-top: 1.563rem;
}

.kremlin-text {
  width: 27rem;
  margin-top: 8.8rem;
}

.vegbase-text {
  width: 27.9rem;
}

.brillgn-text {
  width: 27.5rem;
  margin-top: 1.5rem;
}

.nd-brillgn-text {
  width: 29rem;
}

.nd-txt {
  color: #1e1558;
}

.ger-img,
.peat-img,
.kremlin-img,
.brillgn-img {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.ger-img {
  margin-top: 1.75rem;
  width: 797.184px;
  height: 474px;
}

.nd-ger-img {
  margin-top: 4rem;
}

.wolf-img {
  margin-left: -4.1rem;
  width: 38.468rem;
  height: 34.2rem;
}

.peat-img {
  margin-top: 0.7rem;
  width: 51.746rem;
  height: 32.331rem;
}

.nd-peat-img {
  height: 34.377rem;
}

.groom-img {
  margin-left: -5.8rem;
  width: 42.875rem;
  height: 31.2rem;
}

.kremlin-img {
  width: 48.016rem;
  height: 36.5rem;
}

.vegbase-img {
  margin-left: -4.1rem;
  width: 38.699rem;
  height: 29.5rem;
}

.brillgn-img {
  position: relative;
  margin-right: 5rem;
  width: 40.651rem;
  height: 29.981rem;
}

.plane-two-container {
  display: none;
  position: absolute;
  width: 76rem;
  height: 18.448rem;
  /*  top: -12.3rem;
  left: -8rem; */
  margin-top: -12.3rem;
  margin-left: -26rem;
}

.nd-plane-two {
  width: 100%;
  height: 100%;
  background-image: url('./assets/plane-two.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.dog-footprints-container {
  display: none;
  position: absolute;
  width: 6.563rem;
  height: 17.625rem;
  right: -87px;
  top: 76px;
}

.nd-dog-footprints {
  width: 100%;
  height: 100%;
  background-image: url('./assets/dog-footprints.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.pen-container {
  display: none;
  position: absolute;
  width: 11.5rem;
  height: 31.938rem;
  left: -11rem;
  top: -3rem;
  transform: translateX(-11rem);
}

.nd-pen {
  width: 100%;
  height: 100%;
  background-image: url('./assets/pen.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.stars-container {
  display: none;
  position: absolute;
  width: 44.438rem;
  height: 39.75rem;
  top: -7rem;
  right: -5rem;
}

.nd-stars {
  width: 100%;
  height: 100%;
  background-image: url('./assets/stars.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.train-container {
  display: none;
  position: absolute;
  width: 28.688rem;
  height: 6.375rem;
  top: 1.3rem;
  left: 9.5rem;
}

.nd-train {
  width: 100%;
  height: 100%;
  background-image: url('./assets/train.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.ovni-container {
  display: none;
  position: absolute;
  width: 17.438rem;
  height: 6.938rem;
  top: -5.9rem;
  right: 0rem;
}

.nd-ovni {
  width: 100%;
  height: 100%;
  background-image: url('./assets/ovni.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.smoke-container {
  display: none;
  position: absolute;
  width: 68.75rem;
  height: 33.5rem;
  bottom: -18.3rem;
  /*  left: -7rem; */
  margin-left: -36rem;
}

.nd-smoke {
  width: 100%;
  height: 100%;
  background-image: url('./assets/smoke.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.nd-razdelitel-hero-container,
.razdelitel-german-container,
.nd-razdelitel-wolf-container,
.razdelitel-peats-container,
.nd-razdelitel-groom-container,
.razdelitel-kremlin-container,
.nd-razdelitel-vegetablebase-container,
.nd-razdelitel-brillgn-container {
  display: none;
}

.razdelitel-wolf-container {
  position: relative;
  width: 30.396rem;
  height: 27.615rem;
  margin-left: -478px;
  left: -5.688rem;
  top: 10.688rem;
  order: -1;
  z-index: 0;
}

.razdelitel-wolf-img {
  width: 100%;
  height: 100%;
  background-image: url('./assets/Klaksa2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.razdelitel-groom-container {
  position: relative;
  width: 28.371rem;
  height: 34rem;
  align-self: flex-end;
  margin-right: -28.6rem;
  right: 5.562rem;
  top: 8.5rem;
  margin-top: -4rem;
  z-index: 2;
}

.razdelitel-groom-img {
  width: 100%;
  height: 100%;
  background-image: url('./assets/Klaksa3.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.razdelitel-brillgn-container {
  position: relative;
  width: 36.019rem;
  height: 27rem;
  order: -1;
  margin-left: -36rem;
  top: 13.063rem;
  left: -3.063rem;
  z-index: 2;
}

.razdelitel-brillgn-img {
  width: 100%;
  height: 100%;
  background-image: url('./assets/Klaksa4.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* FOOTER */
.menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 19.313rem;
  transform: translateY(19rem);
}

.pages {
  display: flex;
  position: absolute;
  bottom: 15px;
}

.navbook {
  max-width: 80vw;
  width: 100%;
  margin-bottom: 0px;
  margin-left: -4vmin;
  z-index: 2;
}

.main {
  margin: -3vmin 0 0 5vmin;
  height: 100%;
}

.milestones {
  margin: 1vmin 0 0 -3vmin;
  height: 100%;
  z-index: 1;
}

.gallery {
  margin: -4vmin 0 0 -6vmin;
  height: 100%;
}

.my-granny {
  margin: 1vmin 0 0 -3vmin;
  height: 100%;
  z-index: 1;
}

.remember {
  margin: -4vmin 0 0 -6vmin;
  height: 100%;
}

.map {
  margin: 1.5vmin 0 0 -4vmin;
  height: 100%;
  z-index: 1;
}

.nanas-words {
  margin: -3vmin 0 0 -3vmin;
  height: 100%;
}

.pages img {
  width: 12vw;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0rem);
}

.pages img:hover {
  cursor: pointer;
  transform: translateY(-1rem);
}

.menu-active {
  animation: 1.6s ease-out 0.8ms forwards activeMenu;
}

.scroll-active-left {
  animation: 1s linear 0s forwards slideLeft;
}

.nd-decorated-img {
  display: block;
}

@keyframes slideLeft {
  from {
    transform: translateX(-11rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes activeMenu {
  from {
    transform: translateY(19rem);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1367px) {
  .navbook {
    max-width: 1196px;
  }

  .pages .main {
    width: 196px;
    margin-left: 0rem;
    margin-top: 1.375rem;
  }

  .pages .milestones {
    width: 194px;
    margin-left: -55px;
    margin-top: 5.25rem;
  }

  .pages .gallery {
    width: 187px;
    margin-left: -90px;
    margin-top: 0.875rem;
  }

  .pages .my-granny {
    width: 215px;
    margin-top: 5.25rem;
    margin-left: -60px;
  }

  .pages .remember {
    width: 223px;
    margin-left: -120px;
    margin-top: 0.4rem;
  }

  .pages .map {
    width: 207px;
    margin-top: 5.813rem;
    margin-left: -70px;
  }

  .pages .nanas-words {
    width: 183px;
    margin-top: 2.313rem;
    margin-left: -50px;
  }
}
