@font-face {
  font-family: 'MADE Likes Slab';
  src: url('assets/font/MADE-Likes-Slab.otf');
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f5e4d3;
  color: #282727;
  font-family: 'MADE Likes Slab';
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background-color: #f5e4d3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

body .loader img {
  height: 16rem;
  width: 16rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/bg.webp');
  background-position: center top;
  background-size: 100dvh 100dvh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0px 50px;
  overflow-x: hidden;
  overflow-y: clip;
}

.subsection img,
.hero-container img {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.stories-section {
  position: relative;
  max-width: 112.25rem;
  width: 100%;
}

.hero-section {
  flex-direction: column;
  justify-content: flex-start;
}

.hero-img {
  width: 31.583rem;
  height: 10.917rem;
}

.language-container {
  display: flex;
  justify-content: flex-end;
  height: 4.188rem;
}

.hero-container {
  display: grid;
  place-content: center;
  height: 100%;
  margin-top: 11.563rem;
  margin-bottom: 17.813rem;
}

.language-selector {
  position: relative;
  /*  width: 4.696rem;
  height: 1.688rem; */
  width: 6.813rem;
  align-self: flex-end;
  margin-right: 5rem;
  margin-bottom: 0;
  cursor: pointer;
  transition: none;
  pointer-events: auto !important;
  z-index: 2;
}

.razdelitel-hero-container {
  position: absolute;
  transform: scaleX(-1);
  width: 36.5rem;
  height: 29.75rem;
  left: 89rem;
  top: -4rem;
}

.razdelitel-hero-img {
  width: 100%;
  height: 100%;
  background-image: url('./assets/Klaksa1.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.german-section,
.wolves-section,
.peats-section,
.groom-section,
.kremlin-section,
.vegetable-base-section,
.brilliant-green-section {
  display: flex;
  justify-content: center;
}

.german-section {
  margin-bottom: 7.5rem;
}

.wolves-section {
  margin-bottom: 8.375rem;
}

.peats-section {
  margin-bottom: 8.5rem;
}

.groom-section {
  margin-bottom: 5.375rem;
}

.kremlin-section {
  margin-bottom: 8.813rem;
}

.vegetable-base-section {
  margin-bottom: 7.313rem;
}

.german-subsection,
.wolves-subsection,
.peats-subsection,
.groom-subsection,
.kremlin-subsection,
.vegetable-base-subsection,
.brilliant-green-subsection {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 35rem);
  grid-template-rows: 1fr;
  max-width: 80.4rem;
  width: 100%;
}

h1 {
  font-size: 2.7em;
  color: #e25c5c;
  font-weight: 400;
}

p {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 0.625rem;
}

.ger-text,
.peat-text,
.kremlin-text,
.brillgn-text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.ger-text {
  width: 30.5rem;
}

.wolf-text {
  width: 26.2rem;
}

.peat-text {
  width: 27.3rem;
}

.groom-text {
  width: 27.4rem;
  margin-top: 1.563rem;
}

.kremlin-text {
  width: 27rem;
  margin-top: 8.8rem;
}

.vegbase-text {
  width: 27.9rem;
}

.brillgn-text {
  width: 27.5rem;
  margin-top: 1.5rem;
}

.ger-img,
.peat-img,
.kremlin-img,
.brillgn-img {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.ger-img {
  margin-top: 1.75rem;
  width: 797.184px;
  height: 474px;
}

.wolf-img {
  margin-left: -4.1rem;
  width: 38.468rem;
  height: 34.2rem;
}

.peat-img {
  margin-top: 0.7rem;
  width: 51.746rem;
  height: 30.7rem;
}

.groom-img {
  margin-left: -5.8rem;
  width: 42.875rem;
  height: 31.2rem;
}

.kremlin-img {
  width: 48.016rem;
  height: 36.5rem;
}

.vegbase-img {
  margin-left: -4.1rem;
  width: 38.699rem;
  height: 29.5rem;
}

.brillgn-img {
  position: relative;
  margin-right: 5rem;
  width: 40.651rem;
  height: 29.981rem;
}

.razdelitel-german-container,
.razdelitel-peats-container,
.razdelitel-kremlin-container,
.razdelitel-vegetablebase-container {
  display: none;
}

.razdelitel-wolf-container {
  position: relative;
  width: 30.396rem;
  height: 27.615rem;
  margin-left: -478px;
  left: -5.688rem;
  top: 10.688rem;
  order: -1;
  z-index: 0;
}

.razdelitel-wolf-img {
  width: 100%;
  height: 100%;
  background-image: url('./assets/Klaksa2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.razdelitel-groom-container {
  position: relative;
  width: 28.371rem;
  height: 34rem;
  align-self: flex-end;
  margin-right: -28.6rem;
  right: 5.562rem;
  top: 8.5rem;
  margin-top: -4rem;
  z-index: 2;
}

.razdelitel-groom-img {
  width: 100%;
  height: 100%;
  background-image: url('./assets/Klaksa3.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.razdelitel-brillgn-container {
  position: relative;
  width: 36.019rem;
  height: 27rem;
  order: -1;
  margin-left: -36rem;
  top: 13.063rem;
  left: -3.063rem;
  z-index: 2;
}

.razdelitel-brillgn-img {
  width: 100%;
  height: 100%;
  background-image: url('./assets/Klaksa4.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* FOOTER */
.menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 19.313rem;
  transform: translateY(16.6rem);
}

.pages {
  display: flex;
  position: absolute;
  bottom: 15px;
}

.navbook {
  max-width: 80vw;
  width: 100%;
  margin-bottom: 0px;
  margin-left: -4vmin;
  z-index: 2;
}

.main {
  margin: -3vmin 0 0 5vmin;
  height: 100%;
}

.milestones {
  margin: 1vmin 0 0 -3vmin;
  height: 100%;
  z-index: 1;
}

.gallery {
  margin: -4vmin 0 0 -6vmin;
  height: 100%;
}

.my-granny {
  margin: 1vmin 0 0 -3vmin;
  height: 100%;
  z-index: 1;
}

.remember {
  margin: -4vmin 0 0 -6vmin;
  height: 100%;
}

.map {
  margin: 1.5vmin 0 0 -4vmin;
  height: 100%;
  z-index: 1;
}

.nanas-words {
  margin: -3vmin 0 0 -3vmin;
  height: 100%;
}

.pages img {
  width: 12vw;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0rem);
}

.pages img:hover {
  cursor: pointer;
  transform: translateY(-1rem);
}

.menu-active {
  animation: 1.6s ease-out 0.8ms forwards activeMenu;
}

@keyframes activeMenu {
  from {
    transform: translateY(16.6rem);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1367px) {
  .navbook {
    max-width: 1196px;
  }

  .pages .main {
    width: 196px;
    margin-left: 0rem;
    margin-top: 1.375rem;
  }

  .pages .milestones {
    width: 194px;
    margin-left: -55px;
    margin-top: 5.25rem;
  }

  .pages .gallery {
    width: 187px;
    margin-left: -90px;
    margin-top: 0.875rem;
  }

  .pages .my-granny {
    width: 215px;
    margin-top: 5.25rem;
    margin-left: -60px;
  }

  .pages .remember {
    width: 223px;
    margin-left: -120px;
    margin-top: 0.4rem;
  }

  .pages .map {
    width: 207px;
    margin-top: 5.813rem;
    margin-left: -70px;
  }

  .pages .nanas-words {
    width: 183px;
    margin-top: 2.313rem;
    margin-left: -50px;
  }
}
