@media only screen and (orientation: landscape) and (max-width: 800px) {
  .language-container {
    margin-top: 2vmax !important;
  }

  .language-selector {
    width: 12vmax !important;
    height: 5vmax !important;
    margin-right: 3vmax !important;
  }

  .hero-container {
    margin-top: 10vmax !important;
    margin-bottom: 19vmax !important;
  }

  .hero-img {
    width: 77vmax !important;
  }

  .razdelitel-hero-container {
    margin-left: -45vmax !important;
    top: 29vmax !important;
    left: -0.1vmax !important;
    width: 67.18vmax !important;
    height: 54.61vmax !important;
  }

  .german-subsection,
  .peats-subsection,
  .kremlin-subsection {
    margin-bottom: 12vmax !important;
  }

  .wolves-subsection,
  .groom-subsection,
  .vegetable-base-subsection,
  .brilliant-green-subsection {
    margin-top: 15vmax !important;
  }

  .peats-subsection {
    margin-top: 3vmax !important;
  }

  .ger-text,
  .wolf-text,
  .peat-text,
  .groom-text,
  .kremlin-text,
  .vegbase-text,
  .brillgn-text {
    width: 79vmax !important;
  }

  .ger-text,
  .peat-text,
  .kremlin-text {
    margin-top: 6.924vmax !important;
  }

  .ger-text {
    min-height: 99vmax !important;
  }

  .wolf-text {
    min-height: 99vmax !important;
    margin-bottom: 10vmax !important;
  }

  .groom-text {
    min-height: 109vmax !important;
    margin-bottom: 4vmax !important;
  }

  .vegbase-text {
    min-height: 132vmax !important;
    margin-bottom: 3.5vmax !important;
  }

  .brillgn-text {
    min-height: 84vmax !important;
    margin-top: 1vmax !important;
  }

  .subsection div p .txtSpacing {
    margin-top: 2vmax !important;
  }

  .ger-text p,
  .wolf-text p,
  .groom-text p,
  .kremlin-text p,
  .brillgn-text p {
    margin-top: 5vmax !important;
  }

  .peat-text p {
    margin-top: 6vmax !important;
  }

  .vegbase-text p {
    margin-top: 6.2vmax !important;
  }

  .subsection .ger-img {
    width: 100vmax !important;
  }

  .subsection .wolf-img {
    width: 86vmax !important;
  }

  .subsection .peat-img {
    width: 114vmax !important;
  }

  .subsection .groom-img {
    width: 97vmax !important;
    margin-left: 3vmax !important;
  }

  .subsection .kremlin-img {
    width: 100vmax !important;
    margin-left: 10vmax !important;
  }

  .subsection .vegbase-img {
    width: 95vmax !important;
  }

  .subsection .brillgn-img {
    width: 98vmax !important;
  }

  .razdelitel-german-container,
  .razdelitel-wolf-container,
  .razdelitel-peats-container,
  .razdelitel-groom-container,
  .razdelitel-kremlin-container,
  .razdelitel-vegetablebase-container {
    width: 37.99vmax !important;
  }

  .navbook {
    max-width: 110vmax !important;
    width: 100% !important;
  }

  .menu {
    margin-top: 31vmax !important;
  }

  .pages img {
    width: 14vmax !important;
  }
}

@media only screen and (max-width: 800px) {
  main {
    padding: 0px 16px;
  }

  p {
    margin-top: 0rem;
  }

  .language-container {
    height: auto;
    margin-top: 2vmin;
  }

  .language-selector {
    width: 79px;
    right: 60px;
    margin-right: 1vmin;
  }

  .hero-container {
    height: auto;
    margin-top: 10vmin;
    margin-bottom: 19vmin;
  }

  .hero-img {
    width: 77vmin;
    height: 100%;
  }

  .razdelitel-hero-container {
    transform: scalex(1);
    margin-right: 0rem;
    margin-left: -45vmin;
    top: 29vmin;
    right: 0rem;
    left: -0.1vmin;
    width: 67.18vmin;
    height: 54.61vmin;
  }

  .stories-section {
    margin: 0rem 2.5rem;
    width: 100vw;
  }

  .german-section,
  .wolves-section,
  .peats-section,
  .groom-section,
  .kremlin-section,
  .vegetable-base-section,
  .brilliant-green-section {
    flex-direction: column;
    align-items: center;
  }

  .german-subsection,
  .wolves-subsection,
  .peats-subsection,
  .groom-subsection,
  .kremlin-subsection,
  .vegetable-base-subsection,
  .brilliant-green-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .german-subsection,
  .peats-subsection,
  .kremlin-subsection {
    margin-bottom: 12vmin;
  }
  .german-subsection {
    margin-top: 2vw;
  }

  .wolves-subsection,
  .groom-subsection,
  .vegetable-base-subsection,
  .brilliant-green-subsection {
    margin-top: 15vmin;
  }

  .peats-subsection {
    margin-top: 3vmin;
  }

  .ger-text,
  .wolf-text,
  .peat-text,
  .groom-text,
  .kremlin-text,
  .vegbase-text,
  .brillgn-text {
    width: 79vmin;
  }

  .ger-text,
  .peat-text,
  .kremlin-text {
    margin-top: 6.924vmin;
  }

  .ger-text {
    min-height: 99vmin;
  }

  .wolf-text {
    min-height: 99vmin;
    margin-bottom: 10vmin;
  }

  .groom-text {
    min-height: 109vmin;
    margin-bottom: 4vmin;
  }

  .vegbase-text {
    min-height: 132vmin;
    margin-bottom: 3.5vmin;
  }

  .brillgn-text {
    min-height: 84vmin;
    margin-top: 1vmin;
  }

  .subsection div h1 {
    text-align: center;
    font-size: 8vw;
  }

  .subsection div p {
    font-size: 5.1vw;
  }

  .subsection .vegbase-text p {
    font-size: 6.15vw;
  }

  .subsection div p .txtSpacing {
    margin-top: 2vmin;
  }

  .ger-text p,
  .wolf-text p,
  .groom-text p,
  .kremlin-text p,
  .brillgn-text p {
    margin-top: 5vmin;
  }

  .peat-text p {
    margin-top: 6vmin;
  }

  .vegbase-text p {
    margin-top: 6.2vmin;
  }

  .subsection img {
    margin: 0;
    height: 100%;
  }

  .subsection .ger-img {
    width: 100vmin;
  }

  .subsection .wolf-img {
    width: 86vmin;
  }

  .subsection .peat-img {
    width: 114vmin;
  }

  .subsection .groom-img {
    width: 97vmin;
    margin-left: 3vmin;
  }

  .subsection .kremlin-img {
    width: 100vmin;
    margin-left: 10vmin;
  }

  .subsection .vegbase-img {
    width: 95vmin;
  }

  .subsection .brillgn-img {
    width: 98vmin;
  }

  .razdelitel-german-container,
  .razdelitel-peats-container,
  .razdelitel-kremlin-container,
  .razdelitel-vegetablebase-container {
    display: block;
  }

  .razdelitel-brillgn-container,
  .razdelitel-groom-container,
  .razdelitel-wolf-container {
    margin: 0rem;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    order: 0;
    z-index: 0;
  }

  .razdelitel-german-container,
  .razdelitel-wolf-container,
  .razdelitel-peats-container,
  .razdelitel-groom-container,
  .razdelitel-kremlin-container,
  .razdelitel-vegetablebase-container {
    width: 37.99vmin;
    height: 0.313rem;
    margin: 0 auto;
  }

  .razdelitel-german-img,
  .razdelitel-wolf-img,
  .razdelitel-peats-img,
  .razdelitel-groom-img,
  .razdelitel-kremlin-img,
  .razdelitel-vegetablebase-img,
  .razdelitel-brillgn-img {
    width: 100%;
    height: 100%;
    background-image: url('./assets/razdelitel.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .razdelitel-brillgn-container {
    display: none;
  }

  .menu {
    width: 100%;
    margin-top: 31vmin;
  }

  .pages {
    margin-left: -5vmin;
    bottom: -11.1vmin;
  }

  .navbook {
    max-width: 110vmin;
    width: 110vmin;
    margin-left: -9vmin;
  }

  .main {
    margin: -3vmin 0 0 5vmin;
  }

  .milestones {
    margin: 1vmin 0 0 -3vmin;
  }

  .gallery {
    margin: -4vmin 0 0 -6vmin;
  }

  .my-granny {
    margin: 1vmin 0 0 -3vmin;
  }

  .remember {
    margin: -4vmin 0 0 -6vmin;
  }

  .map {
    margin: 1.5vmin 0 0 -4vmin;
  }

  .nanas-words {
    margin: -3vmin 0 0 -3vmin;
  }

  .pages img {
    width: 18vmin;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .pages img:hover {
    width: 18vmin;
  }
}
