@media only screen and (min-width: 801px) and (max-width: 1366px) {
  .nd-main {
    background-image: url('./assets/bg-tetradka.webp');
    background-size: 100dvh 100dvh;
    background-size: 100% 100%;
  }

  .stories-section {
    max-width: 90rem;
    width: 100%;
  }

  .nd-stories-section {
    width: 90rem;
  }

  .hero-container {
    margin-top: 8.688rem;
    margin-bottom: 13.125rem;
  }

  .hero-img {
    width: 31.813rem;
    height: 11rem;
  }

  html[data-design='new']:lang(en) .hero-img {
    width: 23.583rem;
    height: 100%;
  }

  .nd-hero-img {
    width: 31.813rem;
    height: 100%;
    /*  height: 5.139rem; */
  }

  .nd-language-container {
    /* max-width: 71rem; */
    max-width: 76rem;
  }
  .language-selector {
    margin-right: 0rem;
  }

  .pencil-stroke-container {
    width: 4.938rem;
    height: 8.188rem;
    /* bottom: 7rem;
    right: 3rem; */
    /*  margin-left: 72rem;
    margin-top: 20rem; */
    margin-left: 79rem;
    margin-top: 19rem;
  }

  .plane-one-contaniner {
    width: 21.563rem;
    height: 20.75rem;
    /* bottom: 2rem;
    left: -5rem; */
    /* margin-top: -21rem;
    margin-left: -3rem; */
    margin-top: -21rem;
    margin-left: 0rem;
    /*  left: -5rem; */
    left: 3rem;
  }

  .razdelitel-hero-container {
    position: absolute;
    transform: scaleX(1);
    margin-right: -17.6rem;
    right: 0rem;
    left: 60rem;
    top: 1.9rem;
  }

  .german-section {
    margin-bottom: 8rem;
  }

  .wolves-section {
    margin-bottom: 5rem;
  }

  .peats-section {
    margin-bottom: 9rem;
  }

  .groom-section {
    margin-bottom: 2rem;
  }

  .kremlin-section {
    margin-bottom: 9rem;
  }

  .vegetable-base-section {
    margin-bottom: 5rem;
  }

  .nd-vegetable-base-section {
    margin-bottom: 6.4rem;
  }

  .german-subsection,
  .wolves-subsection,
  .peats-subsection,
  .groom-subsection,
  .kremlin-subsection,
  .vegetable-base-subsection,
  .brilliant-green-subsection {
    /*  grid-template-columns: 1fr minmax(auto, 31.4rem); */
    /* grid-template-columns: 1fr minmax(28.063rem, 31.4rem); */
    grid-template-columns: 1fr minmax(auto, 28.063rem);
    max-width: 71rem;
    gap: 1.25rem;
  }

  .german-subsection,
  .peats-subsection {
    gap: 0rem;
  }

  .kremlin-text {
    margin-top: 9.188rem;
  }

  .brillgn-text,
  .groom-text {
    margin-top: 1.313rem;
  }

  .ger-text {
    width: 26.4rem;
  }

  .wolf-text,
  .peat-text,
  .groom-text,
  .kremlin-text,
  .vegbase-text,
  .brillgn-text {
    width: 24rem;
  }

  .ger-text h1,
  .wolf-text h1,
  .peat-text h1,
  .groom-text h1,
  .kremlin-text h1,
  .vegbase-text h1,
  .brillgn-text h1 {
    font-size: 2.5rem;
  }

  .ger-text p,
  .wolf-text p,
  .peat-text p,
  .groom-text p,
  .kremlin-text p,
  .vegbase-text p,
  .brillgn-text p {
    font-size: 1.3em;
  }

  .ger-img {
    width: 724.352px;
    height: 430.4px;
    margin-top: 0.563rem;
  }

  .wolf-img {
    width: 33.58rem;
    height: 30.2rem;
    margin-left: -1.938rem;
  }

  .peat-img {
    width: 45.194rem;
    height: 26.813rem;
    margin-top: 0rem;
    margin-left: -0.875rem;
  }

  .groom-img {
    width: 36.141rem;
    height: 26.3rem;
    margin-left: -1.813rem;
  }

  .kremlin-img {
    width: 42.491rem;
    height: 32.3rem;
    margin-right: -2rem;
  }

  .vegbase-img {
    width: 34.186rem;
    height: 26.06rem;
    margin-left: 0rem;
  }

  .brillgn-img {
    width: 35.118rem;
    height: 25.9rem;
    margin-right: 0.875rem;
  }

  .plane-two-container {
    width: 66.688rem;
    height: 16.188rem;
    /* top: -14rem;
    left: 0rem; */
    margin-top: -14rem;
    /* margin-left: 12rem; */
    margin-left: 0rem;
    margin-right: -16rem;
  }

  .dog-footprints-container {
    width: 6.563rem;
    height: 17.625rem;
    /* right: -13px;
    top: 0px; */
    right: 75px;
    top: -116px;
  }

  .pen-container {
    width: 11.5rem;
    height: 31.938rem;
    left: -2rem;
    top: -10rem;
    transform: translateX(-1.5rem);
  }

  .stars-container {
    width: 44.438rem;
    height: 39.75rem;
    top: -7rem;
    /* right: -5rem; */
    right: -2rem;
  }

  .train-container {
    width: 28.688rem;
    height: 6.375rem;
    top: 1.3rem;
    left: 9.5rem;
  }

  .ovni-container {
    width: 17.438rem;
    height: 6.938rem;
    top: -5.9rem;
    right: 2rem;
  }

  .smoke-container {
    width: 56rem;
    height: 27.288rem;
    bottom: -14.3rem;
    margin-left: -24rem;
    /*  left: -7rem; */
  }

  .razdelitel-wolf-container {
    width: 26.074rem;
    height: 23.688rem;
    top: -5.312rem;
    left: 0.5rem;
    margin-left: -418px;
  }

  .razdelitel-groom-container {
    width: 23.938rem;
    height: 28.688rem;
    top: -19rem;
    right: 5rem;
    margin-right: -24rem;
  }

  .razdelitel-brillgn-container {
    width: 39.438rem;
    height: 29.563rem;
    top: -28rem;
    left: 4rem;
    margin-left: -39.375rem;
  }

  .menu {
    bottom: 0px;
    margin-top: 12.125rem;
  }

  .scroll-active-left {
    animation: 1s linear 0s forwards slideLeft;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-1.5rem);
  }
  to {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1120px) {
  main {
    padding: 0px 50px;
  }

  .hero-img {
    width: 29.9rem;
    height: 10.339rem;
  }

  html[data-design='new']:lang(en) .nd-hero-img {
    width: 22.216rem;
    height: 100%;
  }

  .nd-hero-img {
    width: 29.9rem;
    height: 100%;
    /*  height: 4.831rem; */
  }

  .pencil-stroke-container {
    width: 3.5rem;
    height: 5.804rem;
    margin-left: 58rem;
  }

  .plane-one-contaniner {
    width: 15rem;
    height: 14.435rem;
    left: -2.2rem;
    margin-top: -15.5rem;
  }

  .razdelitel-hero-container {
    margin-right: -17.6rem;
    right: 0rem;
    left: 53.4rem;
  }

  .stories-section {
    max-width: 78.75rem;
    width: 100%;
  }
  .german-section {
    margin-bottom: 6rem;
  }

  .wolves-section {
    margin-bottom: 3rem;
  }

  .peats-section {
    margin-bottom: 7rem;
  }

  .groom-section {
    margin-bottom: 0.125rem;
  }

  .kremlin-section {
    margin-bottom: 6rem;
  }

  .vegetable-base-section {
    margin-bottom: 3rem;
  }

  .nd-vegetable-base-section {
    margin-bottom: 3.9rem;
  }

  .subsection {
    width: 100%;
    grid-template-columns: 1fr minmax(auto, 25rem);
    left: 0rem;
  }

  .stories-section .subsection {
    max-width: 55.625rem;
  }

  .ger-text {
    width: 20.3rem;
  }

  .wolf-text,
  .peat-text,
  .groom-text,
  .kremlin-text,
  .vegbase-text,
  .brillgn-text {
    width: 18.2rem;
  }

  .kremlin-text {
    margin-top: 7.8rem;
  }

  .ger-text h1,
  .wolf-text h1,
  .peat-text h1,
  .groom-text h1,
  .kremlin-text h1,
  .vegbase-text h1,
  .brillgn-text h1 {
    font-size: 2em;
  }

  .ger-text p,
  .wolf-text p,
  .peat-text p,
  .groom-text p,
  .kremlin-text p,
  .vegbase-text p,
  .brillgn-text p {
    font-size: 1em;
  }

  .ger-img {
    width: 552.016px;
    height: 328px;
  }

  .wolf-img {
    width: 26.353rem;
    height: 23.7rem;
    margin-left: -1.5rem;
  }

  .peat-img {
    width: 35.228rem;
    height: 20.9rem;
  }

  .groom-img {
    width: 28.171rem;
    height: 20.5rem;
    /* margin-left: -3.3rem; */
    margin-left: -1.3rem;
  }

  .kremlin-img {
    width: 34.072rem;
    height: 25.9rem;
  }

  .vegbase-img {
    width: 24.794rem;
    height: 18.9rem;
  }

  .brillgn-img {
    width: 27.6rem;
    height: 20.356rem;
  }

  .plane-two-container {
    width: 47rem;
    height: 11.409rem;
    margin-right: 0rem;
    margin-top: 0rem;
    top: -10rem;
    left: 10rem;
  }

  .pen-container {
    left: -6rem;
    width: 9rem;
    top: -11rem;
    margin-left: -3rem;
    transform: translateX(-2.5rem);
  }

  .dog-footprints-container {
    width: 5rem;
    height: 13.429rem;
    top: -90px;
    right: 0rem;
    left: 59rem;
  }

  .stars-container {
    width: 28rem;
    height: 25.046rem;
    top: -4rem;
    left: 37rem;
    right: 0rem;
  }

  .train-container {
    width: 22rem;
    height: 4.889rem;
    left: 1rem;
  }

  .ovni-container {
    width: 12rem;
    height: 4.774rem;
    left: 41rem;
    right: 0rem;
    top: -5rem;
  }

  .smoke-container {
    width: clamp(35rem, 63%, 43rem);
    height: 100%;
    /*  bottom: -10.2rem; */
    bottom: -10rem;
    margin-left: 0rem;
    /* left: 0rem; */
    left: -2rem;
  }

  .razdelitel-wolf-container {
    width: 20.375rem;
    height: 18.511rem;
    top: 14.688rem;
    margin-top: -19.312rem;
    margin-left: -325px;
  }

  .razdelitel-groom-container {
    width: 15.938rem;
    height: 19.101rem;
    top: -15rem;
    margin-right: -16rem;
    right: 0rem;
    left: -0.2rem;
  }

  .razdelitel-brillgn-container {
    width: 22.438rem;
    height: 16.819rem;
    margin-top: -9rem;
    margin-left: -22.375rem;
    top: -7rem;
    left: 2rem;
  }

  .scroll-active-left {
    animation: 1s linear 0s forwards slideLeft;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-2.5rem);
  }
  to {
    transform: translateX(0);
  }
}
