@media only screen and (min-width: 801px) and (max-width: 1440px) {
  .stories-section {
    max-width: 90rem;
    width: 100%;
  }

  .hero-section {
    height: 35rem;
  }

  .hero-img {
    width: 31.813rem;
    height: 11rem;
  }

  .language-selector {
    width: 8.188rem;
    height: 2.943rem;
    margin-right: 5.5rem;
  }

  .razdelitel-hero-container {
    position: absolute;
    transform: scaleX(1);
    margin-right: -17.6rem;
    right: 0rem;
    /*  left: 60rem; */
    left: 70rem;
    top: 1.9rem;
  }

  .german-section {
    margin-bottom: 8.063rem;
  }

  .wolves-section {
    margin-bottom: 5.688rem;
  }

  .peats-section {
    margin-bottom: 9.313rem;
  }

  .groom-section {
    margin-bottom: 2.125rem;
  }

  .kremlin-section {
    margin-bottom: 9.125rem;
  }

  .vegetable-base-section {
    margin-bottom: 5.688rem;
  }

  .brilliant-green-section {
    margin-bottom: 9.25rem;
  }

  .german-subsection,
  .wolves-subsection,
  .peats-subsection,
  .groom-subsection,
  .kremlin-subsection,
  .vegetable-base-subsection,
  .brilliant-green-subsection {
    grid-template-columns: 1fr minmax(auto, 31.4rem);
    max-width: 71rem;
    gap: 1.25rem;
  }

  .german-subsection {
    gap: 0rem;
  }

  .kremlin-text {
    margin-top: 9.188rem;
  }

  .brillgn-text,
  .groom-text {
    margin-top: 1.313rem;
  }

  .ger-text {
    width: 26.4rem;
  }

  .wolf-text,
  .peat-text,
  .groom-text,
  .kremlin-text,
  .vegbase-text,
  .brillgn-text {
    width: 24rem;
  }

  .ger-text h1,
  .wolf-text h1,
  .peat-text h1,
  .groom-text h1,
  .kremlin-text h1,
  .vegbase-text h1,
  .brillgn-text h1 {
    font-size: 2.5rem;
  }

  .ger-text p,
  .wolf-text p,
  .peat-text p,
  .groom-text p,
  .kremlin-text p,
  .vegbase-text p,
  .brillgn-text p {
    font-size: 1.3em;
  }

  .ger-img {
    width: 45.272rem;
    height: 26.9rem;
    margin-top: 0.563rem;
  }

  .wolf-img {
    width: 33.58rem;
    height: 30.2rem;
    margin-left: -1.938rem;
  }

  .peat-img {
    width: 45.194rem;
    height: 26.813rem;
    margin-top: 0rem;
    margin-left: -0.875rem;
  }

  .groom-img {
    width: 36.141rem;
    height: 26.3rem;
    margin-left: -1.813rem;
  }

  .kremlin-img {
    width: 42.491rem;
    height: 32.3rem;
    margin-right: -2rem;
  }

  .vegbase-img {
    width: 34.186rem;
    height: 26.06rem;
    margin-left: 0rem;
  }

  .brillgn-img {
    width: 35.118rem;
    height: 25.9rem;
    margin-right: 0.875rem;
  }

  .razdelitel-wolf-container {
    width: 26.074rem;
    height: 23.688rem;
    top: -5.312rem;
    left: 0.5rem;
    margin-left: -472px;
  }

  .razdelitel-groom-container {
    width: 23.938rem;
    height: 28.688rem;
    top: -19rem;
    right: 5rem;
    margin-right: -24rem;
  }

  .razdelitel-brillgn-container {
    width: 39.438rem;
    height: 29.563rem;
    top: -28rem;
    left: 4rem;
    margin-left: -39.375rem;
  }

  .menu {
    bottom: 0px;
  }

  .navbook {
    max-width: 74.25rem;
  }

  .milestones {
    width: 12.114rem;
  }

  .stories {
    width: 13.278rem;
  }

  .gallery {
    width: 11.516rem;
  }

  .my-granny {
    width: 13.278rem;
  }

  .remember {
    width: 13.734rem;
  }

  .map {
    width: 12.788rem;
  }

  .nanas-words {
    width: 11.288rem;
  }
}

@media only screen and (max-width: 1260px) {
  .hero-img {
    width: 29.9rem;
    height: 10.339rem;
  }

  .language-selector {
    margin-right: 1.5rem;
  }

  .razdelitel-hero-container {
    /* margin-right: -17.6rem;
    right: -1rem; */
    margin-right: -17.6rem;
    right: 0rem;
    left: 58.8rem;
  }

  .stories-section {
    max-width: 78.75rem;
    width: 100%;
  }
  .german-section {
    margin-bottom: 6rem;
  }

  .wolves-section {
    margin-bottom: 3rem;
  }

  .peats-section {
    margin-bottom: 7rem;
  }

  .groom-section {
    margin-bottom: 0.125rem;
  }

  .kremlin-section {
    margin-bottom: 6rem;
  }

  .vegetable-base-section {
    margin-bottom: 3rem;
  }

  .brilliant-green-section {
    margin-bottom: 9rem;
  }

  .subsection {
    width: 100%;
    grid-template-columns: 1fr minmax(auto, 25rem);
  }

  .stories-section .subsection {
    max-width: 55.625rem;
  }

  .ger-text {
    width: 20.3rem;
  }

  .wolf-text,
  .peat-text,
  .groom-text,
  .kremlin-text,
  .vegbase-text,
  .brillgn-text {
    width: 18.2rem;
  }

  .kremlin-text {
    margin-top: 7.8rem;
  }

  .ger-text h1,
  .wolf-text h1,
  .peat-text h1,
  .groom-text h1,
  .kremlin-text h1,
  .vegbase-text h1,
  .brillgn-text h1 {
    font-size: 2em;
  }

  .ger-text p,
  .wolf-text p,
  .peat-text p,
  .groom-text p,
  .kremlin-text p,
  .vegbase-text p,
  .brillgn-text p {
    font-size: 1em;
  }

  .ger-img {
    width: 34.501rem;
    height: 20.5rem;
  }

  .wolf-img {
    width: 26.353rem;
    height: 23.7rem;
  }

  .peat-img {
    width: 35.228rem;
    height: 20.9rem;
  }

  .groom-img {
    width: 28.171rem;
    height: 20.5rem;
  }

  .kremlin-img {
    width: 34.072rem;
    height: 25.9rem;
  }

  .vegbase-img {
    width: 24.794rem;
    height: 18.9rem;
  }

  .brillgn-img {
    width: 27.6rem;
    height: 20.356rem;
  }

  .razdelitel-wolf-container {
    width: 20.375rem;
    height: 18.511rem;
    top: 14.688rem;
    margin-top: -19.312rem;
    margin-left: -325px;
  }

  .razdelitel-groom-container {
    width: 15.938rem;
    height: 19.101rem;
    top: -15rem;
    /* right: 7rem;
    margin-right: -16rem; */
    margin-right: -16rem;
    right: 0rem;
    left: -6rem;
  }

  .razdelitel-brillgn-container {
    width: 22.438rem;
    height: 16.819rem;
    margin-top: -9rem;
    margin-left: -22.375rem;
    top: -7rem;
    left: 2rem;
  }

  .navbook {
    width: 80vw;
  }

  .pages {
    bottom: 12px;
  }

  .milestones {
    margin: -3vmin 0 0 5vmin;
  }

  .stories {
    margin: 1vmin 0 0 -3vmin;
  }

  .gallery {
    margin: -4vmin 0 0 -6vmin;
  }

  .my-granny {
    margin: 1vmin 0 0 -3vmin;
  }

  .remember {
    margin: -4vmin 0 0 -6vmin;
  }

  .map {
    margin: 1.5vmin 0 0 -4vmin;
  }

  .nanas-words {
    margin: -3vmin 0 0 -3vmin;
  }

  .pages img {
    width: 12vw;
  }

  .pages img:hover {
    width: 12vw;
  }
}
